@mainColor: #f9dde2;
@detailColorL: #ad5772;
@detailColorD: #511c37;
@advHeight: 100px;
@headingHeight: 150px;

body {
  min-width: 450px;
  background-color: @detailColorL;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: auto;
  background-color: @mainColor;
  color: @detailColorD;
}

.heading {
  height: @headingHeight;
  text-align: center;
  border-bottom: 2px dotted @detailColorL;

  .headingLabel {
    font-size: 60px;
  }

  .description {
    font-size: 20px;
  }

  .contactsButton {
    font-size: 15px;
    background-color: @mainColor;
    border: none;
  }
}

.test {
  top: @headingHeight;
  display: grid;
  grid-template-columns: 60px 1fr 80px;
  padding: 10px;

  .testLabel {
    font-size: 20px;
  }

  .testButton {
    font-size: 19px;
    width: 100px;
    background-color: @mainColor;
    border: @mainColor;
  }
}

.advContainer {
  position: fixed;
  bottom: 0;
  height: @advHeight;
  width: 100%;
  color: black;
  text-align: center;
  font-size: 45px;
  background: url("https://i2.rozetka.ua/goods/1773005/gidazepam_70190318_images_1773005046.jpg");
}
